@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  display: block;
}

.col-1 {
  width: 8.333%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333%;
}

.col-5 {
  width: 41.65%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-12 {
  width: 100%;
}

body {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
}

.section__title {
  color: #212A2F;
  font-size: 32px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.section__button {
  background-color: #FFFFFF;
  border: none;
  outline: none;
  border-radius: 2px;
  color: #212A2F;
  font-size: 16px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  text-align: center;
  letter-spacing: 0.5px;
  padding: 17px 30px;
  transition: 0.9s;
}

.section__button:hover {
  background-color: #212A2F;
  color: #FFFFFF;
}

.header {
  margin-top: 20px;
}

.header .row {
  margin: auto;
}

.header__nav, .header__nav1 {
  color: #212A2F;
  font-size: 12px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
}

.header__nav {
  margin-right: 30px;
}

.header__navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__logo {
  margin: 0 auto;
}

.header__icon {
  margin-right: 20px;
}

.hero {
  background-image: url(/src/img/png/hero_bg.png);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__title {
  color: #FFFFFF;
  font-size: 48px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding-top: 320px;
}

.hero__description {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.5px;
  text-align: center;
  padding-top: 50px;
}

.hero__button--men, .hero__button--women {
  background-color: #FFFFFF;
  border: none;
  outline: none;
  border-radius: 2px;
  color: #212A2F;
  font-size: 16px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  text-align: center;
  letter-spacing: 0.5px;
  padding: 17px 30px;
  width: 180px;
  transition: 0.9s;
}

.hero__button--men:hover, .hero__button--women:hover {
  background-color: #212A2F;
  color: #FFFFFF;
}

.hero__button--men {
  margin-right: 12px;
}

.hero__button--women {
  margin-left: 12px;
}

.hero .row {
  display: flex;
  justify-content: center;
  padding: 207px 0 66px 0;
}

.favorite {
  padding-bottom: 100px;
}

.favorite__title {
  padding-top: 120px;
}

.favorite__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.favorite__list {
  color: #212A2F;
  font-size: 16px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  padding: 32px 132px 10px;
  letter-spacing: 2px;
  text-align: center;
}

.favorite__list:hover {
  border-bottom: 1px solid #212A2F;
  width: 100px;
}

.favorite__line {
  width: 1240px;
  height: 1px;
  background-color: #d3d4d5;
  margin: 0 auto;
}

.favorite__buttons1, .favorite__buttons2 {
  width: 100%;
  height: 85%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  display: flex;
  flex-direction: column;
}

.favorite__buttons1 {
  background-image: url(/src/img/png/shoes1.png);
}

.favorite__buttons2 {
  background-image: url(/src/img/png/shoes3.png);
}

.favorite__button--men, .favorite__button--women {
  width: 230px;
}

.favorite__button--men {
  margin: 144px auto 6px;
}

.favorite__button--women {
  margin: 6px auto 144px;
}

.favorite__row {
  display: flex;
  justify-content: space-between;
  margin-top: 34px;
}

.favorite__row:nth-last-child() {
  margin-right: -30px;
}

.favorite__img {
  width: 100%;
  height: 85%;
}

.favorite__item {
  margin-right: 14px;
}

.favorite__line1 {
  width: 336px;
  height: 1px;
  background-color: #d3d4d5;
  margin: 10px 0 0 22px;
}

.favorite__suptitle {
  color: #212A2F;
  font-size: 22px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.5px;
  padding: 17px 0 0 22px;
}

.favorite__name {
  display: flex;
  align-items: center;
  margin: 10px 0 0 15px;
}

.favorite__description {
  color: #212A2F;
  font-size: 14px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.4px;
  padding-left: 12px;
}
